In [2]:
import geopy
dir(geopy)

['ArcGIS',
 'Baidu',
 'Bing',
 'DataBC',
 'GeoNames',
 'GeocodeFarm',
 'GeocoderDotUS',
 'GoogleV3',
 'IGNFrance',
 'LiveAddress',
 'Location',
 'Mapzen',
 'Nominatim',
 'OpenCage',
 'OpenMapQuest',
 'Photon',
 'Point',
 'What3Words',
 'YahooPlaceFinder',
 'Yandex',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 'compat',
 'exc',
 'format',
 'geocoders',
 'get_geocoder_for_service',
 'location',
 'point',
 'units',
 'util']

In [4]:
dir(geopy.geocoders)

['ArcGIS',
 'Baidu',
 'Bing',
 'DataBC',
 'GeoNames',
 'GeocodeFarm',
 'GeocoderDotUS',
 'GeocoderNotFound',
 'GoogleV3',
 'IGNFrance',
 'LiveAddress',
 'Mapzen',
 'Nominatim',
 'OpenCage',
 'OpenMapQuest',
 'Photon',
 'SERVICE_TO_GEOCODER',
 'What3Words',
 'YahooPlaceFinder',
 'Yandex',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 'arcgis',
 'baidu',
 'base',
 'bing',
 'databc',
 'dot_us',
 'geocodefarm',
 'geonames',
 'get_geocoder_for_service',
 'googlev3',
 'ignfrance',
 'mapzen',
 'opencage',
 'openmapquest',
 'osm',
 'photon',
 'placefinder',
 'smartystreets',
 'what3words',
 'yandex']

In [6]:
from geopy.geocoders import Nominatim

In [9]:
# Build object
nom = Nominatim(scheme="http")

In [12]:
# Get the data
nom.geocode("250 Brent Lane, Pensacola, FL 32503")

Location(PCC, 250, Brent Lane, Brent, Escambia County, Florida, 32503, United States of America, (30.47509385, -87.2327253881507, 0.0))

In [14]:
# Get the data (invalid address)
print(nom.geocode("123 Semoga Awet raya"))

None

In [25]:
# Store to variable and use it
pccAddress = nom.geocode("250 Brent Lane, Pensacola, FL 32503")
pccAddress.latitude, pccAddress.longitude

(30.47509385, -87.2327253881507)

In [38]:
import pandas
df = pandas.read_csv("supermarkets.csv")
df

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [39]:
df["Address"] = df["Address"] + ", " + df["City"] + ", " + df["State"] + ", " + df["Country"]
df

,ID,Address,City,State,Country,Name,Employees
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20

In [40]:
# Iterate without for loop -- Applying geocode
# Build object
df["Coordinates"] = df["Address"].apply(nom.geocode)
df

,ID,Address,City,State,Country,Name,Employees,Coordinates
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8,"(3666, 21st Street, Noe Valley, SF, California..."
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15,None
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25,"(332, Hill Street, Noe Valley, SF, California,..."
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995, 23rd Street, Noe Valley, SF, California..."
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12,"(1056, Sanchez Street, Noe Valley, SF, Califor..."
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20,"(551, Alvarado Street, Noe Valley, SF, Califor..."

In [43]:
df.Coordinates

0    (3666, 21st Street, Noe Valley, SF, California...
1                                                 None
2    (332, Hill Street, Noe Valley, SF, California,...
3    (3995, 23rd Street, Noe Valley, SF, California...
4    (1056, Sanchez Street, Noe Valley, SF, Califor...
5    (551, Alvarado Street, Noe Valley, SF, Califor...
Name: Coordinates, dtype: object

In [48]:
# Add latitude to the column
df["Latitude"] = df["Coordinates"].apply(lambda x: x.latitude)

# Causing error due to one "NONE" on the row

AttributeError: 'NoneType' object has no attribute 'latitude'

In [51]:
# Fixed: Add latitude to the column
# Store none if no latitude
df["Latitude"] = df["Coordinates"].apply(lambda x: x.latitude if x != None else None)
df["Longitude"] = df["Coordinates"].apply(lambda x: x.longitude if x != None else None)
df

,ID,Address,City,State,Country,Name,Employees,Coordinates,Latitude,Longitude
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8,"(3666, 21st Street, Noe Valley, SF, California...",37.756489,-122.429343
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15,None,NaN,NaN
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25,"(332, Hill Street, Noe Valley, SF, California,...",37.755725,-122.428601
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995, 23rd Street, Noe Valley, SF, California...",37.752965,-122.431714
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12,"(1056, Sanchez Street, Noe Valley, SF, Califor...",37.752146,-122.429815
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20,"(551, Alvarado Street, Noe Valley, SF, Califor...",37.753673,-122.433220